.message {
    right: -100vw;
    bottom: calc(20px + var(--message-index, 0) * 50px);
    position: fixed;
    background-color: #7ee3ff;
    color: #1E1E1E;
    padding: 10px;
    border-radius: 20px 20px 4px;
    transition: right 0.3s ease-in-out;
}

.message.open {
    right: 20px;
}

@media (min-width: 390px) {
    .message {
        right: -300px;
    }
}
