* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

*:focus {
    outline: none;
}

body {
    display: flex;
    height: 100%;
    width: 100%;
    background-color: #1E1E1E;
    color: #e6e6e6;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow: hidden;
    flex-direction: column;
}

header {
    padding: 20px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 25px;
}

main {
    display: flex;
    flex: 1;
    width: 100%;
    align-items: center;
    min-height: 0;
}

.keyboard-opened #centerColumn {
    display: none;
}

#centerColumn {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

#lefColumn {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-height: 100%;
    max-width: 220px;
    overflow: hidden auto;
    padding: 12px;
    margin: 0 auto;
}

#canvases {
    display: flex;
    flex: 1;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    max-width: 90vh;
}

#div1 {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#spin {
    position: absolute;
    cursor: pointer;
}

#winnerField {
    margin-bottom: 10px;
    align-self: center;
    text-align: center;
    height: 38px;
    border-radius: 20px;
    font-size: 25pt;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-weight: bold;
    margin-left: 10px;
    width: 200px;
    word-break: break-word;
}

input{
    border: 3px solid #3a3a3a;
    border-radius: 20px;
    min-height: 30px;
    padding: 0 10px;
    display: inherit;
    color: black;
    position: relative;
    z-index: 2;
}

input:hover:not(:disabled) + .inputButton {
    visibility: visible;
}

input:focus:not(:disabled) + .inputButton {
    visibility: visible;
}

.inputButton:hover {
    visibility: visible;
}

.inputButton {
    height: 36px;
    width: 36px;
    margin-left: -40px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    z-index: 9;
    top: 0;
    left: 0;
    visibility: hidden;
    position: relative;
}

#playerList .playerItem:last-child .inputButton {
    visibility: hidden;
}

.cross{
    background-image: url("/images/cross.png");
}

.arrow{
    background-image: url("/images/arrow.png");
}

.playerItem{
    display: flex;
}

#playerList{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#destroyedList{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#destroyedList input::-webkit-search-cancel-button{
    -webkit-appearance:unset;
    width: 12px;
    height: 12px;
    background-image: url("/images/ico.png");
    background-size: 12px 12px;
}

@media (max-width: 1250px) {
    #winnerField{
        width: 150px;
    }
}

@media (max-width: 800px) {
    main {
        flex-direction: column;
    }
    #centerColumn {
        width: 100%;
    }
    #winnerField {
        font-size: 4vw;
        width: 100%;
    }
    #lefColumn {
        margin-bottom: auto;
    }
    #div1 {
        flex-direction: column-reverse;
    }
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #ffffff49;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
/* Copy button */
.copy-link-wrapper {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 1;
}

.copy-link {
    fill: #0000;
    color: #fff;
    cursor: pointer;
}

.copy-link:hover {
    color: #bdbdbd;
}