RewriteEngine On
RewriteBase /

RewriteCond %{HTTP_HOST} ^gagikpog.ru [nc]
RewriteRule ^(.*)$ https://fortune.gagikpog.ru/$1 [r=301,nc]

# Add noindex to pages with query param
RewriteCond %{QUERY_STRING} ^.+$
RewriteRule ^ - [E=NO_INDEX_ON:1]

# Enable flag to ignore this page for noindex header
RewriteCond %{REQUEST_URI} ^/Wheel-of-fortune/$
RewriteRule ^ - [E=NO_INDEX_FLAG:1]

# Enable flag to ignore this page for noindex header
RewriteCond %{REQUEST_URI} ^/Wheel-of-fortune/en/?$
RewriteRule ^ - [E=NO_INDEX_FLAG:1]

# If flag NO_INDEX_FLAG not defined, define flag NO_INDEX_ON
RewriteCond "%{ENV:NO_INDEX_FLAG}" ^$
RewriteRule ^ - [E=NO_INDEX_ON:1]

# Add header noindex
Header always set X-Robots-Tag noindex env=NO_INDEX_ON

# Redirect to 404 page
ErrorDocument 404 https://fortune.gagikpog.ru/?legend=Oops&list=404%20Not%20Found
