* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

@font-face {
  font-family: 'MonospaceBold';
  src: url('/src/font/MonospaceBold.ttf');
}

body {
  background-color: #1E1E1E;
  color: #e6e6e6;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  overflow: hidden;
}

/* past dialog */
.past-dialog {
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  max-width: calc(100% - 20px);
  max-height: calc(100% - 20px);
  border: 1px solid gray;
  padding: 20px 20px 0 20px;
  background-color: #1E1E1E;
  color: #fff;
  border-radius: 15px;;
  width: 400px;
}

.past-list {
  margin-top: 10px;
}

.past-item {
  border-bottom: 1px solid gray;
  padding: 4px 0;
}

.past-dialog-footer {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: flex-end;
  position: sticky;
  bottom: 0;
  background-color: #1E1E1E;
}

.past-dialog-button {
  margin-left: 10px;
  padding: 8px 15px;
  border: transparent;
  border-radius: 8px;
  cursor: pointer;
}

/* refactored */
/* Header */
header {
  padding: 10px 20px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 25px;
}

.links-wrapper {
  margin-left: auto;
}

.svg-icon {
  margin-left: 10px;
}

/* /Header */
/* Content */
main {
  min-height: 0;
}
/* /Content */
/* Menu */
.menu {
  padding: 20px;
  max-height: 100%;
}
/* /Menu */
/* Editor */
.menu-caption {
  padding: 10px 0 4px;
}

.menu-caption,
.player-item {
  max-width: 450px;
  margin: 0 auto;
}

.cursor-devise .editor-input:focus + .editor-action,
.cursor-devise .player-item:hover .editor-action {
  visibility: visible;
}

.editor-input {
  border: 1px solid #3a3a3a;
  border-radius: 20px;
  min-height: 30px;
  padding: 0 30px 0 10px;
  color: black;
  margin-bottom: 2px;
}

.editor-input:focus {
  outline: none;
}

.cursor-devise .editor-action {
  visibility: hidden;
}

.editor-action {
  top: 8px;
  right: 8px;
}

/*/ Editor */
/* Spinner */
.winner-field {
  text-align: center;
  padding: 0 20px 10px;
  font-size: 25px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-weight: bold;
  height: 45px;
}

.spinner-wrapper {
  min-height: 0;
  min-width: 0;
}

.spinner-back {
  transform: rotate(var(--spinner-angle, 0));
}

.spinner-back,
.spinner-front {
  top: 0;
  left: 0;
}
/* /Spinner */
/* Message */
.message {
  right: 20px;
  bottom: 20px;
  background-color: #7ee3ff;
  color: #1E1E1E;
  padding: 10px;
  border-radius: 20px 20px 4px;
}
/* /Message */
/* Keyboard */
.keyboard-opened {
  background-color: #222;
}

.keyboard-opened .winner-field {
  display: none;
}

.keyboard-opened .spinner {
  width: 50px;
  max-height: 50px;
  position: absolute;
  right: 10px;
  top: 10px;
}
/* /Keyboard */

@media (orientation: portrait) {
  main {
    flex-direction: column;
  }
  .spinner {
    max-height: 50vh;
  }
  .menu {
    width: 100%;
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #ffffff49;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
